
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}
<link href="~/MyContent/Css/home.css" rel="stylesheet" />
<script src="~/MyContent/Js/home.js"></script>
<link href="~/MyContent/Css/bg-news.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">

<div class="bg-news">
    <h1>Trang chủ</h1>
</div>


<div class="listCake">
    <h2 class="nameh2">Danh mục bánh</h2>
    @*<img src="~/MyContent/Image/divider.jpg" alt="divider" class="dvdimg" />*@
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="boximg" style="width:100%" />
                <div class="box-text">
                    <p>Bánh ngọt</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="~/MyContent/Image/banh-mi/banh-mi-hoa-cuc.jpg" alt="list-ck" class="boximg" style="width:100%" />
                <div class="box-text">
                    <p>Bánh mì</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="~/MyContent/Image/banh-sinh-nhat/banh-kem-con-nhen-cute.jpg" alt="list-ck" class="boximg" style="width:100%" />
                <div class="box-text">
                    <p>Bánh sinh nhật</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="~/MyContent/Image/banh-theo-mua/chocolate-halloween-cupcakes.jpg" alt="list-ck" class="boximg" style="width:100%" />
                <div class="box-text">
                    <p>Bánh theo mùa</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bestSell">
    <h2 class="nameh2">Bán chạy nhất</h2>
    @*<img src="~/MyContent/Image/divider.jpg" alt="divider" class="dvdimg" />*@
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mì chà bông rong biển</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/cupcake/chocolate-biscoff-cupcakes.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Chocolate Biscoff Cupcake</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-sinh-nhat/banh-kem-cuu-mini.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mini cừu</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-mi/banh-mi-hoa-cuc.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mì hoa cúc</h5>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/bong-lan/banh-bong-lan-cuon-cha-bong.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh bông lan cuộn chà bông</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-mi/banh-mi-man.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mì mặn</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/mousse/lemon-mousse.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Lemon Mousse</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-mi/banh-mi-pho-mai-bo-toi.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mì nướng bơ tỏi</h5>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/tart-trung.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Tart trứng nướng</h5>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-theo-mua/chocolate-halloween-cupcakes.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Chocolate Halloween Cupcakes</h5>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-sinh-nhat/banh-kem-shin-cau-be-but-chi.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mini Shin cậu bé bút chì</h5>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-oreo.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Oreo Donut</h5>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="news">
    <h2 class="nameh2">Tin tức mới nhất</h2>
    <div class="news-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box-blog">
                        <div class="box-img">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-oreo.jpg" alt="Bánh donut" title="Bánh donut" />
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>

                            <!--chỗ này có script-->

                        </div>
                        <div class="box-content">
                            <a href="#"> <h2>Bánh Donut hương vị mới nhất</h2></a>
                            <p> Nhắc đến bánh Donut, dân sành thưởng thức hẳn không còn xa lạ gì với món ăn vặt rất phổ biến ở các nước phương Tây này. Dù có nguồn gốc từ nước Mỹ xa xôi song hiện tại, Donut đã và đang trở thành những món bánh ngọt được yêu thích tại Việt Nam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-blog">
                        <div class="box-img">
                            <img src="~/MyContent/Image/banh-sinh-nhat/banh-kem-cau-vong.jpg" alt="Bánh donut" />
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>

                            <!--chỗ này có script-->

                        </div>
                        <div class="box-content">
                            <a href="#"> <h2>Bánh sinh nhật cầu vồng</h2></a>
                            <p> Nhắc đến bánh Donut, dân sành thưởng thức hẳn không còn xa lạ gì với món ăn vặt rất phổ biến ở các nước phương Tây này. Dù có nguồn gốc từ nước Mỹ xa xôi song hiện tại, Donut đã và đang trở thành những món bánh ngọt được yêu thích tại Việt Nam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-blog">
                        <div class="box-img">
                            <img src="~/MyContent/Image/banh-ngot/panna-cotta/panna-cotta-mango.jpg" alt="Bánh Pannacotta" />
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>

                            <!--chỗ này có script-->

                            <script>

                            </script>
                        </div>
                        <div class="box-content">
                            <a href="#"> <h2>Bánh Donut Halloween</h2></a>
                            <p> Nhắc đến bánh Donut, dân sành thưởng thức hẳn không còn xa lạ gì với món ăn vặt rất phổ biến ở các nước phương Tây này. Dù có nguồn gốc từ nước Mỹ xa xôi song hiện tại, Donut đã và đang trở thành những món bánh ngọt được yêu thích tại Việt Nam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



