
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}
<link href="~/MyContent/Css/home.css" rel="stylesheet" />
<script src="~/MyContent/Js/home.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container-fluid bg-news">
    <div class="row">
        <div class="col-lg-8"><img src="~/MyContent/Image/cupcake-bg.jpg" alt="cupcake" class="resbg"></div>
        <div class="col-lg-4">
            <div class="thumb-text">
                <h3 class="title">Bánh Cupcake</h3>
                <p class="content">Loại bánh dành cho mọi người, đem lại niềm vui</p>
                <div class="btnXem">Xem thêm</div>
            </div>
        </div>
    </div>
</div>

<div class="news">
    <h2 class="nameh2">Tin tức mới nhất</h2>
    <div class="news-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="box-blog">
                        <div class="box-img">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-phu-duong-nhan-kem.jpg" alt="Bánh donut" title="Bánh donut" />
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>

                            <!--chỗ này có script-->

                        </div>
                        <div class="box-content">
                            <a href="#"> <h2>Bánh Donut hương vị mới nhất</h2></a>
                            <p> Nhắc đến bánh Donut, dân sành thưởng thức hẳn không còn xa lạ gì với món ăn vặt rất phổ biến ở các nước phương Tây này. Dù có nguồn gốc từ nước Mỹ xa xôi song hiện tại, Donut đã và đang trở thành những món bánh ngọt được yêu thích tại Việt Nam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-blog">
                        <div class="box-img">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-phu-duong-nhan-kem.jpg" alt="Bánh donut" />
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>

                            <!--chỗ này có script-->

                        </div>
                        <div class="box-content">
                            <a href="#"> <h2>Bánh Sinh Nhật Khủng Long</h2></a>
                            <p> Nhắc đến bánh Donut, dân sành thưởng thức hẳn không còn xa lạ gì với món ăn vặt rất phổ biến ở các nước phương Tây này. Dù có nguồn gốc từ nước Mỹ xa xôi song hiện tại, Donut đã và đang trở thành những món bánh ngọt được yêu thích tại Việt Nam.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box-blog">
                        <div class="box-img">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-phu-duong-nhan-kem.jpg" alt="Bánh donut" />
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>

                            <!--chỗ này có script-->

                            <script>

                            </script>
                        </div>
                        <div class="box-content">
                            <a href="#"> <h2>Bánh Donut Halloween</h2></a>
                            <p> Nhắc đến bánh Donut, dân sành thưởng thức hẳn không còn xa lạ gì với món ăn vặt rất phổ biến ở các nước phương Tây này. Dù có nguồn gốc từ nước Mỹ xa xôi song hiện tại, Donut đã và đang trở thành những món bánh ngọt được yêu thích tại Việt Nam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="listCake">
    <h2 class="nameh2">Danh mục bánh</h2>
    <img src="~/MyContent/Image/divider.jpg" alt="divider" class="dvdimg" />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="boximg" style="width:100%" />
                <div class="box-text">
                    <p>Donut</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="boximg" style="width:100%" />
                <div class="box-text">
                    <p>Panna Cotta</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="boximg" style="width:100%" />
                <div class="box-text">
                    <p>Pudding</p>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="boximg" style="width:100%" />
                <div class="box-text">
                    <p>Tiramisu</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bestSell">
    <h2 class="nameh2">Bán chạy nhất</h2>
    <img src="~/MyContent/Image/divider.jpg" alt="divider" class="dvdimg" />
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mì chà bông rong biển</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Chocolate Biscoff Cupcake</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mini cừu</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mì hoa cúc</h5>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh bông lan cuộn chà bông</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mì mặn</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Lemon Mousse</h5>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mì nướng bơ tỏi</h5>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Mango Pudding</h5>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Chocolate Halloween Cupcakes</h5>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Bánh mini đơn giản</h5>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="product-top">
                    <div class="pd-img">
                        <div class="pd-img-child">
                            <img src="~/MyContent/Image/banh-ngot/donut/donut-red-velvet.jpg" alt="list-ck" class="img" style="width:100%" />
                        </div>
                    </div>
                    <div class="overlay">
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-search search-icon"></i>
                        </button>
                        <button type="button" class="btn btn-secondary" title="quick shop">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </button>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <h5>Oreo Donut</h5>
                </div>
            </div>

        </div>
    </div>
</div>


