
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<link href="~/MyContent/Css/bg-news.css" rel="stylesheet" />
<link href="~/MyContent/Css/prodetail.css" rel="stylesheet" />

<h2>ChiTietSanPham</h2>

