
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}

<!--bootstrap-->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<!--css,js-->
<link href="~/MyContent/Css/cart.css" rel="stylesheet" />
<link href="~/MyContent/Css/bg-news.css" rel="stylesheet" />

<!--icon-->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>

<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap&family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">

<div class="bg-news">
    <h1>Giỏ hàng</h1>
</div>

<div class="shopping-cart">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">

                <div class="row title">
                    <div class="col-lg-6">Thông tin sản phẩm</div>
                    <div class="col-lg-2 text-center">Số lượng</div>
                    <div class="col-lg-3 text-center">Thành tiền</div>
                    <div class="col-lg-1"></div>
                </div>

                <div class="row product">
                    <div class="col-lg-7 product-detail">
                        <img src="~/MyContent/Image/banh-mi/banh-mi-hoa-cuc.jpg" alt="pd-detail" />
                        <div class="detail">
                            <h5>Baked Scallion Bread</h5>
                            <h6>25.000đ</h6>
                        </div>
                    </div>
                    <div class="col-lg-2 quantity">
                        <div class="box-qtt">
                            <button type="button"><i class="fi fi-br-minus"></i></button>
                            <input type="text" value="1">
                            <button type="button"><i class="fi fi-br-plus"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-3 total-money">
                        <h5>25.000đ</h5>
                    </div>
                    <div class="col-lg-1 delete-btn">
                        <button type="button"><i class="fi fi-br-cross"></i></button>
                    </div>
                </div>



            </div>

            <div class="col-lg-4 payment">
                <div class="detail-pay">
                    <div class="pay-title">
                        <h4>Thông tin đơn hàng</h4>
                    </div>
                    <div class="pay-total">
                        <p>Tổng tiền:</p>
                        <h5>25.000đ</h5>
                    </div>
                    <div class="btn-buy">
                        <button type="button" class="pay-now">Thanh toán</button>
                        <button type="button" class="ctn-buy">Tiếp tục mua hàng</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>