@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<link href="~/MyContent/Css/bg-news.css" rel="stylesheet" />
<link href="~/MyContent/Css/contact.css" rel="stylesheet" />

<div class="bg-news">
    <h1>Liên hệ</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="text-left">
                <h2 class="name-store">Cửa hàng Bánh ngọt</h2>
                <div class="group-address">
                    <ul>
                        <li>
                            <div class="icon"><i class="fi fi-br-map-marker"></i></div>
                            <div class="info">
                                <b>Địa chỉ:</b>
                                <span>828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. HCM</span>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><i class="fi fi-rr-calendar-clock"></i></div>
                            <div class="info">
                                <b>Thời gian làm việc:</b>
                                <span>
                                    8h - 22h<br>
                                    Từ Thứ 2 đến Chủ Nhật
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="icon"></div>
                            <div class="info">
                                <b>Hotline:</b>
                                <a title="(028) 3863 2052 - (028) 3862 9232" href="tel: (028) 3863 2052 - (028) 3862 9232">(028) 3863 2052 - (028) 3862 9232</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon"></div>
                            <div class="info">
                                <b>Email:</b>
                                <a title="contact@huflit.edu.vn" href="mailto:contact@huflit.edu.vn">contact@huflit.edu.vn</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form-contact">
                    <h2 class="name-store">Mọi thắc mắc xin vui lòng liên hệ với chúng tôi</h2>

                    <div id="pagelogin">
                        <form method="post" action="/postcontact" id="contact" accept-charset="UTF-8"><input name="FormType" type="hidden" value="contact"><input name="utf8" type="hidden" value="true"><input type="hidden" id="Token-2bca6bea1c814162b62f61aeb906b7db" name="Token" value="03AFcWeA45e-8uqP2Cyj3pEuXFRoF70qVsYSL_IuzhXW3uUh7vVmD8E8kH0d7mFo2_cEu3bjQeBX_Pew0oUe_3PiJURcWQa4UcZBwDZELmloAYTL1oHeCP5mCO1LZcVHGza08LhKTZZQ6Sn4N-uhFGFwMqb52iBqBdsCakZGJIVpi4ZPcOQWmcKO8S8rorVQjLQFC0c5e9Ffdp44wTn3qt7RBpzW7PhcgDsEGrRR5pus66N7WFHJAYAdVI-d7xb4dhs5y3Kuwf6dCOigy4jHwxhBlB7jtrjw_EQIaX7UQNBGUOcpMH2DSXLu5wspvyMsvYuuut7GUl2fuPmVQ_5jgSNKc0lvNQ3ht4xUeu0BBvdl2Kqrc_NQo0lwFzOjeKBxoDfq_QHCo1EEn_Oj-QzJTTLwbJQdAscEQP1lytlv5b5CPul01_IJDV453fwDhreGG6FanhO4ORSFxci1pIqMQn7tvqRq5P8vF1eMFz1pW0JsXjGUmnMvaJI5qlyiDi3lWBuxRut_PQovyTlkhlaJM9_c67DmCbDx4jvFitdMHrNIIePa3O61q1ZsbJNj6mKO1dQOjKnvnN_PfQRxWQpj3C7DEv0NH7fYJzIrzCDR8jKRLwjwC41VfLJDA"><script src="https://www.google.com/recaptcha/api.js?render=6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK"></script><script>grecaptcha.ready(function() {grecaptcha.execute("6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK", {action: "contact"}).then(function(token) {document.getElementById("Token-2bca6bea1c814162b62f61aeb906b7db").value = token});});</script>
                        <div class="group_contact">
                            <input style="margin-top: 10px;" placeholder="Họ và tên" type="text" class="form-control  form-control-lg" required="" name="contact[Name]">
                            @*<input style="margin-top: 10px;" placeholder="Email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required="" id="email1" class="form-control form-control-lg" name="contact[email]">*@
                            <input style="margin-top: 10px;" type="tel" placeholder="Điện thoại" name="contact[phone]" class="form-control form-control-lg" required="">
                            <textarea style="margin-top: 10px;" placeholder="Nội dung" name="contact[body]" id="comment" class="form-control content-area form-control-lg" rows="5" required=""></textarea>
                            <button type="submit" class="btn" style="margin-top: 10px; background-color: peru;color: white;">Gửi thông tin</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7" style="height: auto;">
            <div class="text-right">
                <div id="contact_map" class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4602263428133!2d106.66478987369582!3d10.776019959203937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3ae5901877%3A0x42c37972de865906!2zODI4IMSQLiBTxrAgVuG6oW4gSOG6oW5oLCBQaMaw4budbmcgMTIsIFF14bqtbiAxMCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1699083730598!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>

