@model TheBakeryShop.Models.tbProduct
@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<link href="~/MyContent/Css/newsdetail.css" rel="stylesheet" />
<link href="~/MyContent/Css/bg-news.css" rel="stylesheet" />
<link href="~/MyContent/Css/news.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">

<div class="bg-news">
    <h1>Tin tức</h1>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4">

            <div class="row row-hot-new">

                <h2 id="fm-name">Tin tức nổi bật</h2>

                <div class="row news-col">
                    <div class="col-lg-5">
                        <a href="#"><img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" class="boximg" /></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="title-date">
                            <a href="#"><h4>Bánh sinh nhật khủng long</h4></a>
                            <div class="time-post">
                                17/08/2023
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row news-col">
                    <div class="col-lg-5">
                        <a href="#"><img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" class="boximg" /></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="title-date">
                            <a href="#"><h4>Bánh sinh nhật khủng long</h4></a>
                            <div class="time-post">
                                17/08/2023
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row news-col">
                    <div class="col-lg-5">
                        <a href="#"><img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" class="boximg" /></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="title-date">
                            <a href="#"><h4>Bánh sinh nhật khủng long</h4></a>
                            <div class="time-post">
                                17/08/2023
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row row-list">
                <div class="link-list">
                    <h3 id="fm-name">Danh mục</h3>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("TrangChu","Home")">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SanPham","Product")">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("TinTuc","News")">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("LienHe","Contact")">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

        <div class="col-lg-8">
            <div class="bg-blog">
                <div class="title"><h2>Donut chỉ từ 8k tại Bakery</h2></div>
                <div class="date-and-author">
                    <div class="date">
                        <div class="icon"></div>
                        <span>Thứ Năm, 17/08/2023</span>
                    </div>
                    <div class="author">
                        <div class="icon"></div>
                        <span>Trần Tấn Phát</span>
                    </div>
                </div>
                <p>Nhắc đến bánh Donut, dân sành thưởng thức hẳn không còn xa lạ gì với món ăn vặt rất phổ biến ở các nước phương Tây này. Dù có nguồn gốc từ nước Mỹ xa xôi song hiện tại, Donut đã và đang trở thành những món bánh ngọt được yêu thích tại Việt Nam.</p>
                <img src="media/Bánh ngọt/Donut/Donut Socola.jpg" title="donut socola" />
                <p>Donut truyền thống có hình tròn và 1 lỗ nhỏ ở giữa. Tuy nhiên ngày nay, người ta có thể sáng tạo ra nhiều kiểu bánh Donut rất đặc biệt, nhiều hình thù cực kì đáng yêu. Bánh Donut thường được phủ kem, socola hoặc rất nhiều loại topping màu sắc.</p>
                <p>Với hương vị thơm ngon đặc trưng, xốp mềm hấp dẫn, Donut chiếm được cảm tình của không ít những tín đồ hảo ngọt. Muốn thưởng thức ngay một chiếc Donut thơm ngon thì bạn có thể ghé bất kỳ một cơ sở Dola bất kỳ để mua về với mức giá từ 8 - 15k mà thôi!</p>


            </div>
        </div>

    </div>

</div>

