

.bottom {
    margin-top: 200px;
}

.footer {
    background-color: peru;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    padding-top: 20px;
    text-decoration: none;
    margin-top:20px;
}

    .footer .col-lg-6,
    .footer .col-lg-3 {
        margin-bottom: 20px;
    }

    .footer div {
        text-align: center;
    }

    .footer a {
        background-color: peru;
        width: 100%;
        padding: 0;
        margin: 0;
        color: white;
        transition: all 0.3s ease;
        text-decoration: none;
    }

        .footer a:hover {
            background-color: peru;
            width: 100%;
            padding: 0;
            margin: 0;
            color: black;
        }

    .footer div h3 {
        font-weight: bold;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }

::placeholder {
    color: white;
}

.footer .col-lg-6 {
    padding: 0 7% 0 7%;
}

.footer .dm-menu a {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    transition: all 0.3s ease;
}

    .footer .dm-menu a:hover {
        transform: translateX(5px);
    }

.footer .mail-logo form input {
    width: 400px;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: none;
}

.footer .mail-logo button {
    background-color: transparent;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    height: 40px;
    width: 200px;
    border: 2px solid white;
    transition: all 0.5s ease;
}

    .footer .mail-logo button:hover {
        background-color: white;
        color: peru;
    }

.footer .social p {
    padding-left: 20px;
    margin-right: 20px;
}

.footer .social p {
    text-align: left;
    font-size: 16px;

}

.footer .social .social-link a {
    margin: 10px;
    font-size: 30px;
    text-decoration: none;
}
