
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}
/* html,body{
  display: grid;
  
  place-items: center;
   background: -webkit-linear-gradient(left, #a445b2, #fa4299); 
  background-size: contain;
} */
/* ::selection{
  background: peru;
  color: #fff;
} */
.bg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(../Image/cupcake-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}
/* html,body{
  display: grid;
  
  place-items: center;
   background: -webkit-linear-gradient(left, #a445b2, #fa4299); 
  background-size: contain;
} */
/* ::selection{
  background: peru;
  color: #fff;
} */

    .bg .wraper {
        padding: 30px;
        background-color: white;
        height: auto;
        width: 430px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.5);
        border-radius: 10px;
    }

        .bg .wraper h3 {
            margin-top: 0px;
            font-size: 35px;
            font-weight: bold;
            text-align: center;
        }

        /*.bg .wraper a {
            display:block;
            text-decoration: none;
            color: peru;
            font-weight: bold;
            margin-top:16px;
        }*/
        .bg .wraper .forgot{
            display: block;
            text-decoration: none;
            color: peru;
            font-weight: bold;
            margin-top: 16px;
        }
        .bg .wraper .up{
            text-decoration: none;
            color: peru;
            font-weight: bold;
            margin-top: 16px;
        }

            .bg .wraper a:hover {
                text-decoration: underline;
            }

        .bg .wraper form {
            /* display: flex; */
            padding: 2px 25px 0 25px;
            /* align-items: center;  */
        }

        .bg .wraper .signup {
            padding: 0 39px 0 39px;
        }

        .bg .wraper .signin {
            padding: 0 50px 0 65px;
        }
        .bg .wraper{
            
        }
        .bg .wraper form input {
            display: block;
            height: 50px;
            width: 100%;
            padding: 14px;
            margin: 20px 0 20px 0;
            font-size: 18px;
            border-radius: 7px;
        }

        .bg .wraper form .btn-sub {
            background-color: peru;
            color: white;
            border: 3px solid peru;
            padding: 10px;
            font-weight: bold;
            transition: all 0.3s ease;
        }

            .bg .wraper form .btn-sub:hover {
                background-color: white;
                color: peru;
            }
        
            .bg .wraper form span{

                display:block;
                color:red;
                font-size:15px;
            }
            .bg .wraper form p {
                display: block;
                color: red;
                font-size: 15px;
            }