@model TheBakeryShop.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}
<!--bootstrap-->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<!--css,js-->
<link href="~/MyContent/Css/cart.css" rel="stylesheet" />
<link href="~/MyContent/Css/bg-news.css" rel="stylesheet" />

<!--icon-->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>

<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap&family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">

<div class="bg-news" style="height:500px;">
    <h1>Giỏ hàng</h1>
</div>

<h4>Hiện chưa có sản phẩm nào trong giỏ hàng</h4>
